#{extends 'main-text.html' /}
#{knockout /}
#{stylesheet 'admin.css' /}
#{set title:'Admin Panel' /}

<h1>Admin Panel</h1>
<h3>Comics</h3>
<div class="comic-hill">
%{for (comic in comics) { }%
<div class="comic">
	<a href="@{Admin.editComic(comic.label)}">
		<img class="banner" src="/img/banner/${comic.label}.png"">
	</a>
	<span class="title">${comic.title}</span>
	<span class="author">${comic.author}</span>
	<div class="unread-count">Total ${comic.numStrips}</div>
	%{ if (rssFeeds.containsKey(comic.id)) {
		if (rssFeeds.get(comic.id).enabled) { }%<div class="rss-icon has-rss"></div>%{ } else { }%<div class="rss-icon no-rss"></div>%{ } } }%
</div>
%{ } }%
</div>
<br/>
<h3>Jobs</h3>
<table style="text-align: center">
<tr>
	<th width="120px">Job Name</th>
	<th width="202px">Health</th>
	<th width="202px">Execution Time</th>
	<th width="385x">Last Message</th>
</tr>
<tr style="height: 100px">
	<td>Bootstrap<br/><a href="@{Admin.doBootstrap}">run now</a></td>
	<td><div id="job-results-chart-0-0" class="job-results-chart"></div></td>
	<td><div id="job-results-chart-0-1" class="job-results-chart"></div></td>
	<td><div class="message-wrapper">%{ if (results.get(0).size() > 0) { print results.get(0).get(0).message.nl2br(); } else { print "-"; } }%</div></td>
</tr>
<tr style="height: 100px">;
	<td>Tag Builder<br/><a href="@{Admin.doTagBuilder}">run now</a></td>
	<td><div id="job-results-chart-1-0" class="job-results-chart"></div></td>
	<td><div id="job-results-chart-1-1" class="job-results-chart"></div></td>
	<td><div class="message-wrapper">%{ if (results.get(1).size() > 0) { print results.get(1).get(0).message.nl2br(); } else { print "-"; } }%</div></td>
</tr>
<tr style="height: 100px">
	<td>Comic Cacher<br/><a href="@{Admin.doComicCacher}">run now</a></td>
	<td><div id="job-results-chart-2-0" class="job-results-chart"></div></td>
	<td><div id="job-results-chart-2-1" class="job-results-chart"></div></td>
	<td><div class="message-wrapper">%{ if (results.get(2).size() > 0) { print results.get(2).get(0).message.nl2br(); } else { print "-"; } }%</div></td>
</tr>
<tr style="height: 100px">
	<td>RSS Updater<br/><a href="@{Admin.doUpdates}">run now</a></td>
	<td><div id="job-results-chart-3-0" class="job-results-chart"></div></td>
	<td><div id="job-results-chart-3-1" class="job-results-chart"></div></td>
	<td><div class="message-wrapper">%{ if (results.get(3).size() > 0) { print results.get(3).get(0).message.nl2br(); } else { print "-"; } }%</div></td>
</tr>
<tr style="height: 100px">
	<td>Judgement<br/><a href="@{Admin.doJudgement}">run now</a></td>
	<td><div id="job-results-chart-4-0" class="job-results-chart"></div></td>
	<td><div id="job-results-chart-4-1" class="job-results-chart"></div></td>
	<td><div class="message-wrapper">%{ if (results.get(4).size() > 0) { print results.get(4).get(0).message.nl2br(); } else { print "-"; } }%</div></td>
</tr>

</table>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawAll);

getChartData = #{jsAction @Admin.getJobResultsChart(':jobId', ':params') /};

function drawAll() {
	var i;
	for (i = 0; i < 5; i++) {
		drawChart(i, 0, ["count_ok", "count_bad"]);
		drawChart(i, 1, ["runtime"]);
	}
}

function drawChart(jobId, chartId, params) {
	$.ajax(getChartData({jobId: jobId, params: params}), {type: "GET", dataType: "json", error: function(jqXHR, textStatus, errorThrown) { console.log(textStatus + " : " + errorThrown); }, success: function(data) {
		for (r in data)
			data[r][0] = new Date(data[r][0]);
		var dt = new google.visualization.DataTable();
		dt.addColumn('datetime', 'Time');
		for (var param in params)
			dt.addColumn('number', params[param]);
		dt.addRows(data);
		var chart = new google.visualization.AreaChart(document.getElementById('job-results-chart-'+jobId+"-"+chartId));
		chart.draw(dt, {pointSize: 3, legend: {position: "bottom"}, chartArea: {width: "80%"}});
	} });
}
</script>