#{extends 'main.html' /}
#{knockout /}
#{set title:'Admin Panel' /}

<h1>Admin Panel</h1>
<h3>Comics</h3>
<div class="comic-hill always-show">
%{for (comic in comics) { }%
<div class="comic">
	<a href="@{Admin.editComic(comic.label)}">
		<img class="banner" src="/img/banner/${comic.label}.png"">
	</a>
	<span class="title">${comic.title}</span>
	<span class="author">${comic.author}</span>
	<div class="unread-count">Total ${comic.numStrips}</div>
</div>
%{ } }%
</div>
<br/>
<h3>Jobs</h3>
<a href="@{Admin.doUpdates}">Run Updater</a><br/>
<a href="@{Admin.doJudgement}">Run Judgement</a><br/>
<a href="@{Admin.doComicCacher}">Run ComicCacher</a><br/>
<a href="@{Admin.doBootstrap}">Run Bootstrap</a>