#{extends 'main-text.html' /}
#{knockout /}
#{stylesheet 'admin.css' /}
#{set title:'Admin Panel' /}

<h1>Admin Panel</h1>
<h3>Comics</h3>
<div class="comic-hill">
%{for (comic in comics) { }%
<div class="comic">
	<a href="@{Admin.editComic(comic.label)}">
		<img class="banner" src="/img/banner/${comic.label}.png"">
	</a>
	<span class="title">${comic.title}</span>
	<span class="author">${comic.author}</span>
	<div class="unread-count">Total ${comic.numStrips}</div>
	%{ if (rssFeeds.containsKey(comic.id)) {
		if (rssFeeds.get(comic.id).enabled) { }%<div class="rss-icon has-rss"></div>%{ } else { }%<div class="rss-icon no-rss"></div>%{ } } }%
</div>
%{ } }%
</div>
<br/>
<h3>Jobs</h3>
<table style="width: 100%">
<tr style="text-align: left">
	<th width="15%">Job Name</th>
	<th width="30%">Last Run</th>
	<th width="45%">Message</th>
	<th width="10%">Start</th>
</tr>
<tr>
	<td width="15%">Bootstrap</td>
	<td width="30%">%{print util.My.timeSince(jobs.Bootstrap.lastRun)}%</td>
	<td width="45%">%{print jobs.Bootstrap.status}%</td>
	<td width="10%"><a href="@{Admin.doBootstrap}">Run now</a></td>
</tr>
<tr>
	<td width="15%">Comic Cacher</td>
	<td width="30%">%{print util.My.timeSince(jobs.ComicCacher.lastRun)}%</td>
	<td width="45%">%{print jobs.ComicCacher.status}%</td>
	<td width="10%"><a href="@{Admin.doComicCacher}">Run now</a></td>
</tr>
<tr>
	<td width="15%">Tag Builder</td>
	<td width="30%">%{print util.My.timeSince(jobs.TagBuilder.lastRun)}%</td>
	<td width="45%">%{print jobs.TagBuilder.status}%</td>
	<td width="10%"><a href="@{Admin.doTagBuilder}">Run now</a></td>
</tr>
<tr>
	<td width="15%">Rss Updater</td>
	<td width="30%">%{print util.My.timeSince(jobs.RssUpdater.lastRun)}%</td>
	<td width="45%">%{print jobs.RssUpdater.status}%</td>
	<td width="10%"><a href="@{Admin.doUpdates}">Run now</a></td>
</tr>
<tr>
	<td width="15%">Judgement</td>
	<td width="30%">%{print util.My.timeSince(jobs.Judgement.lastRun)}%</td>
	<td width="45%">%{print jobs.Judgement.status}%</td>
	<td width="10%"><a href="@{Admin.doJudgement}">Run now</a></td>
</tr>
</table>