#{extends 'main.html' /}
#{js 'knockout-models' /}
#{css 'admin' /}
#{set title:'Updates' /}

<ul data-bind="foreach: feeds">
	<li><span data-bind="text: data.src()"></span></li>
</ul>

<script>
function AppViewModel() {
	var self = this;
	self.feeds = ko.observableArray();
	self.status = ko.observable(0);
	self.statusText = ko.observable("Hello, world!");
	self.removeRss = function(feed) {
		self.feeds.remove(feed);
	}
}

var viewModel = new AppViewModel();
var feedsLoad = {"feeds": %{ print feeds.serializeWith("rssSerializer").raw() }% };
var feeds = feedsLoad['feeds'];

for (var f in feeds) {
	var rss = new Rss();
	ko.mapping.fromJS(feeds[f], rss.data);
	rss.done = ko.observable(false);
	viewModel.feeds.push(rss);
}

ko.applyBindings(viewModel);

</script>