<html>
<head></head>
<body>
<h2>Hello ${reset.email},</h2>
<p>
To reset your Comic Hill password, use the link below. If you have received this message in error, please disregard it
</p>
>> <a href="@@{Users.resetPassword(reset.resetCode,null,null)}">Click here to change your password</a>
<p>
If you encounter any problems, please contact me using <a href="@@{Application.contact}">this form</a>.
</p>
Thanks and regards,<br/>
Nick<br/>
<a href="http://www.comichill.com">www.comichill.com</a>
</body>
</html>