<html>
<head></head>
<body>
<img src="/img/title.png"/>
<h1>Hello ${user.email},</h1>
<p>
Thank you for being a part of the Comic Hill beta! The site is currently under heavy development, so please let me know when you encounter problems or if you have any suggestions!
To contact me, please <b>do not</b> reply to this email. Instead, use the <a href="@@{Application.contact}">contact form</a>.
</p>
<p>
Please be advised that the site will be undergoing many changes. I will do my best to ensure that data is preserved between updates, but I cannot guarantee this.<br/>
If you are unable to login, please create a new account (for the time being).
</p>
<p>
I have a lot planned, so please keep checking back for updates!
</p>
Thanks and regards,
Nick
</body>
</html>