<html>
<head></head>
<body>
<h2>Hello ${user.email},</h2>
<p>
Thank you for being a part of the Comic Hill beta! The site is currently under heavy development, so please let me know when you encounter problems or if you have any suggestions!
To contact me, please <b>do not</b> reply to this email. Instead, use the <a href="@@{Application.contact}">contact form</a>. Your feedback is highly appreciated.
</p>
<p>
Please be advised that the site will be undergoing many changes. I will do my best to ensure that data is preserved between updates, but I cannot guarantee this.<br/>
I have a lot planned, so please keep checking back for updates!
</p>
Thanks and regards,<br/>
Nick
</body>
</html>