#{extends 'main-text.html' /}
#{stylesheet "admin.css" /}
#{set title:'Change Password' /}
<h1>Account Info</h1>
<p>
Use this form to change your password or email address. To change your password, you must enter your current
password, then select a new password. To change your email only, leave the 'new password' field empty.<br/>
<br/>
If you encounter any problems on this site, please <a href="@{Application.contact}">contact me</a>.<br/>
</p>
#{ifErrors}
   <h3>Please correct the errors below!</h3>
#{/ifErrors}
<br/>
<div class="formBlock">
	<h1>Password Reset</h1>
	<p>Pick a new password for your account</p>
	#{form @Users.accountInfo(), method: 'POST'}
	#{field 'email'}
	<label>Email:<span class="subLabel">Your account email</span></label><input type='text' name='${field.name}'  class='autofocus ${field.errorClass}' value='%{ if (flash.email) print flash.email; else print user.email;}%'/><br/>
	#{errors 'email'}<span class="error">${error}</span>#{/errors}
	#{/field}
	#{field 'current_password'}
	<label>Current Password:<span class="subLabel">For extra security</span></label><input type='password' name='${field.name}' class='${field.errorClass}' value=''/><br/>
	#{errors 'current_password'}<span class="error">${error}</span>#{/errors}
	#{/field}
	#{field 'new_password'}
	<label>New Password:<span class="subLabel">Something you'll remember</span></label><input type='password' name='${field.name}' class='${field.errorClass}' value=''/><br/>
	#{errors 'new_password'}<span class="error">${error}</span>#{/errors}
	#{/field}
	#{field 'retype_new_password'}
	<label>Retype Password:<span class="subLabel">Careful now</span></label><input type='password' name='${field.name}' class='${field.errorClass}' value=''/><br/>
	#{errors 'retype_new__password'}<span class="error">${error}</span>#{/errors}
	#{/field}
	<div class="spacer"></div>
	<button type='submit'>Update my Account</button>
	#{/form}
</div>