#{extends 'main-text.html' /}
#{stylesheet "admin.css" /}
#{set title:'Forgot Password' /}
<h1>Forgot Password</h1>
#{ifErrors}
   <h3>Please correct the errors below!</h3>
#{/ifErrors}
<br/>
<div class="formBlock">
	<h1>Reset your Comic Hill Password</h1>
	<p>An email with reset instructions will be sent to this email address.</p>
	#{form @Users.forgotPassword(), method: 'POST'}
	#{field 'email'}
	<label>Email:<span class="subLabel">Your account email</span></label><input type='text' name='${field.name}' class='autofocus ${field.errorClass}' value='${flash.email}'/><br/>
	#{errors 'email'}<span class="error">${error}</span>#{/errors}
	#{/field}
	<div class="spacer"></div>
	<button type='submit'>Send Reset Link</button>
	#{/form}
</div>