#{extends 'main-text.html' /}
#{stylesheet "admin.css" /}
#{set title:'Login' /}
<h1>Login</h1>
#{ifErrors}
   <h3>Please correct the errors below!</h3>
#{/ifErrors}
<br/>
<div class="formBlock">
	<h1>Login with Comic Hill Account</h1>
	<p>Don't have an account? Why not <a href="@{Users.register}">register</a>?</p>
	#{form @Users.login(), method: 'POST'}
	#{field 'email'}
	<label>Email:<span class="subLabel">Your email</span></label><input type='text' name='${field.name}' class='autofocus ${field.errorClass}' value='${flash.email}'/><br/>
	#{errors 'email'}<span class="error">${error}</span>#{/errors}
	#{/field}
	#{field 'password'}
	<label>Password:<span class="subLabel"><a href="@{Users.forgotPassword}">Forgot?</a></span></label><input type='password' name='${field.name}' class='${field.errorClass}' value=''/><br/>
	#{errors 'password'}<span class="error">${error}</span>#{/errors}
	#{/field}
	#{field 'rememberMe'}
	<div class="spacer"></div>
	<label>Remember me:<span class="subLabel">Your computer only!</span></label><input id="remember-box" name='${field.name}' type="checkbox" onchange="rememberWarning()"/>
	<span style="display: none" id="remember-warning">Do not use this on shared computers!</span><br/>
	#{/field}
	<div class="spacer"></div>
	<button type='submit'>Login</button>
	#{/form}
</div>

<br/>
If for some reason you are unable to log in, please <a href="@{Application.contact}">contact me</a>.

<script type='text/javascript'>
function rememberWarning() { 
	if ($("#remember-box").attr("checked"))
		$("#remember-warning").show();
	else
		$("#remember-warning").hide();
}
</script>