#{extends 'main-text.html' /}
#{stylesheet "admin.css" /}
#{set title:'Password Reset' /}
<h1>Password Reset</h1>
<br/>
<p>
If you encounter any problems, please <a href="@{Application.contact}">contact me</a>.<br/>
</p>
#{ifErrors}
   <h3>Please correct the errors below!</h3>
#{/ifErrors}
<br/>
<div class="formBlock">
	<h1>Password Reset</h1>
	<p>Pick a new password for your account</p>
	#{form @Users.resetPassword(reset.resetCode), method: 'POST'}
	<label>Your Email:<span class="subLabel">Hopefully you remember this</span></label><input disabled=disabled type='text' value='${reset?.email}'/><br/>
	#{field 'new_password'}
	<label>New Password:<span class="subLabel">Something you'll remember</span></label><input type='password' name='${field.name}' class='${field.errorClass}' value=''/><br/>
	#{errors 'new_password'}<span class="error">${error}</span>#{/errors}
	#{/field}
	#{field 'retype_password'}
	<label>Retype Password:<span class="subLabel">Careful now</span></label><input type='password' name='${field.name}' class='${field.errorClass}' value=''/><br/>
	#{errors 'retype_password'}<span class="error">${error}</span>#{/errors}
	#{/field}
	<div class="spacer"></div>
	<button type='submit'>Change My Password</button>
	#{/form}
</div>