#{extends 'barebone.html' /}
#{knockout /}
#{script 'viewer.js' /}
#{stylesheet 'viewer.css' /}
#{set title:comic.title +" - "+ strip.title /}

#{set 'moreMeta'}
<meta property="og:title" content="#{get 'title' /}"/>
<meta property="og:description" content="Read your favorite webcomics on Comic Hill!"/>
<meta property="og:type" content="comichill:comic" />
<meta property="og:site_name" content="Comic Hill"/>
<meta property="og:image" content="@@{'/data/fb/'+comic.label+'.png'}"/>
#{/set}

<iframe class="cframe" id="cframe1" data-bind="fadeVisible: f1.visible(), cframeSrc: f1.data.strip.url()" src="${strip.url}">Your browser can't do iframes. What is this, like 1999?</iframe>
<iframe class="cframe" id="cframe2" data-bind="fadeVisible: f2.visible(), cframeSrc: f2.data.strip.url()"></iframe>

<div id="viewer-ctl-wrapper">
<div id="viewer-ctl">
<a id="nav-prev" %{if (nav.prev != null) { 
if (useQueue) { }%href="@{Viewer.viewQueueBySid(nav.prev.comic.label, nav.prev.sid)}"%{ }
else { }%href="@{Viewer.viewBySid(nav.prev.comic.label, nav.prev.sid)}"%{ } }
else{ }%href="/" class="nav-disabled"%{}}%>
<div id="viewer-prev"></div></a>
<div id="viewer-hill"><div id="seek" title="Click to seek between comics" onclick="showSeek()"></div></div>
<a id="nav-next" %{if (nav.next != null) {
if (useQueue) { }%href="@{Viewer.viewQueueBySid(nav.next.comic.label, nav.next.sid)}"%{ }
else { }%href="@{Viewer.viewBySid(nav.next.comic.label, nav.next.sid)}"%{ } }
else{ }%href="/" class="nav-disabled"%{}}%>
<div id="viewer-next"></div></a>
</div></div>

<script>
var useQueue = %{print useQueue;}%;
var loggedIn = %{print user!=null;}%;
viewModel.init(%{ print strip.serializeWith("stripSerializer").raw() }%, %{ print comic.serializeWith("comicSerializer").raw() }%);
ko.applyBindings(viewModel);
</script>