#{extends 'main-text.html' /}
#{set title:'About' /}
<h1>About Comic Hill</h1>
<ul class="faq">
<li><h2>What is Comic Hill?</h2>
Comic Hill is a new way to read your favorite webcomics and discover new ones.<br/>
It is also a Java web application built off the <a href="http://www.playframework.org/" >Play! Framework</a> and hosted on <a href="http://www.playapps.net">playapps.net</a>.
</li>
<li><h2>What isn't Comic Hill?</h2>
I do not produce any of the content that is displayed through this site, other than the application itself.<br/>
All works are copyright their respective owners.
</li>
<li><h2>Hey, why don't you have this webcomic that I like?</h2>
The comics that I add are all hand-picked. I will do my best to add as much variety as possible, but sometimes there may be technical problems that stand in the way.<br/>
If there is a comic that you would like to see added, <a href="@{Application.contact}">let me know</a>!
</li>
<li><h2>Something doesn't work!</h2>
DON'T PANIC. But please do let me know so I can fix it! <a href="@{Application.contact}">Contact me</a>
</li>
<li><h2>This page design hurts my eyes. Waah!</h2>
I don't claim to be an artist. The design you see today is only temporary.<br/>
If you have suggestions how the design could be improved, please <a href="@{Application.contact}">suggest</a>!
</li>
<li><h2>So, it's an RSS Reader?</h2>
It's true, the functionality here is similar to that of an RSS reader. There are, however, many good reasons that I've chosen this approach.
<ol>
<li>I don't write webcomics. By using iframes, the author's work is shared without sacrificing the ad revenue that keeps them running.</li>
<li>You get the FULL experience (comments, news, likes, +1's, etc.)</li>
<li>I wanted to write a webapp!</li>
</ol>
</li>
<li><h2>Who are you?</h2>
I am a college student who enjoys a good webcomic. Feel free to <a href="@{Application.contact}">contact me</a>.
</li>
</ul>