#{extends 'main.html' /}
#{knockout /}
#{script 'jquery-ui-1.8.17.min.js' /}
#{script 'templateFunctions.js' /}
#{script 'cache/comics.js' /}
#{stylesheet 'index.css' /}
#{include 'public/html/templates.html' /}
#{set title:'Comic Hill' /}

<img src='/img/title.png' />

<div id="add-subscriptions-dialog">
<h3>It looks like you haven't added any subscriptions!</h3>
To start using Comic Hill, subscribe to the comics you want to follow!<br/>
</div>

<div class="column left" >
<div class="side-menu">
<span class="head">My Comics</span>
%{if (user != null) {}%
<span onclick="sortList(bySubscribed)" data-bind="text: ((subCount() == 0)? 'No Subscriptions':'My Subscriptions ('+subCount()+')')"></span>
<a data-bind="attr: {href: ((unreadTotal() > 0)? '@{Subscriptions.generateUpdateQueue}' : '')}"><span data-bind="text: ((unreadTotal() == 0)? '(No Unread)':'Unread ('+unreadTotal()+')')"></span></a>
<span class="coming-soon" title="Coming soon!">Catch-up</span>
%{} else {}%
<a href="@{Users.login}"><span>Log In</span></a>
<a href="@{Users.register}"><span>Register</span></a>
%{}}%
<span class="head">Browse</span>
<span onclick="sortList(byDate)">Recently Added</span>
<span onclick="sortList(bySubs)">Most Subscribed</span>
<span onclick="sortList(byHits)">Popular Now</span>
<span class="head">Pages</span>
<span class="coming-soon" title="Coming soon!">Categories</span>
</div>
</div>
<div class="column right">
<div data-bind="template: {name: templateName, foreach: list}"></div>
</div>

<script type="text/javascript">
function AppViewModel() {
	var self = this;
	self.list = ko.observableArray();
	self.comics = {};
	self.buildList = function() { $.each(self.comics, function(index, value) { self.list.push(value); value.sub.id.subscribe(self.calcSubCount);});
									self.list.sort(byDate); extraBindings(); }
	self.loggedIn=ko.observable(%{print (user != null && !user.isGuest())}%);
	self.templateName = function(comic) { return (self.loggedIn() ? ((comic.sub.id() == -1) ? 'comic-template' : 'comic-template-subscribed') : 'comic-template-noauth'); };
	self.unreadTotal = ko.observable(0);
	self.subCount = ko.observable(0);
	self.calcSubCount = function() {
		var count = 0;
		$.each(self.comics, function(index, value) {
			if (value.sub.id() != -1)
				count++;
		});
		self.subCount(count);
	}
}

var viewModel = new AppViewModel();

function sortList(f) {
	viewModel.list.sort(f);
}

function byDate(a, b) { return b.data.created() - a.data.created(); }
function byHits(a, b) { return b.data.rankHits() - a.data.rankHits(); }
function bySubs(a, b) { return b.data.rankPop() - a.data.rankPop(); }
function bySubscribed(a, b) { return b.sub.id() - a.sub.id(); }

addComics(sys_comics);
if (viewModel.loggedIn()){
	loadSubscriptions(true, function(subData) {
		addSubscriptions(subData);
		viewModel.calcSubCount();
	});
}

function addComics(comicData) {
	$.each(comicData,
		function(index, value) {
			var newComic = new Comic();
			ko.mapping.fromJS(value, newComic.data);
			viewModel.comics[newComic.data.id()] = newComic;
		});
	viewModel.buildList();
}

function addSubscriptions(subData) {
	var count = 0, unread = 0;
	$.each(subData,
		function(index, value) {
			if (viewModel.comics[index]) {
				comic = viewModel.comics[index];
				count++;
				ko.mapping.fromJS(value, comic.sub);
				unread += comic.unreadCount();
			}
	});
	viewModel.unreadTotal(unread);
	if (count == 0)
		$("#add-subscriptions-dialog").fadeIn();
}

ko.applyBindings(viewModel);
extraBindings();
</script>