#{extends 'main.html' /}
#{knockout /}
#{script 'jquery-ui-1.8.17.min.js' /}
#{script 'templateFunctions.js' /}
#{script 'comicCache.js' /}
#{include 'public/html/templates.html' /}
#{set title:'Comic Hill' /}

<img src='/img/title.png' />

<div id="add-subscriptions-dialog">
<h3>It looks like you haven't added any subscriptions!</h3>
To start using Comic Hill, add some comics to your home page.<br/>
Click <a href="@{Application.all}">here</a> to find your favorite comics and discover new ones!
</div>

<div class="comic-hill">
<div class="column" id="first" ><h1 class="title">New</h1>
<div data-bind="template: {name: templateName, foreach: newest}"></div>
</div>
<div class="column" id="middle"><h1 class="title">Most Subscribed</h1>
<div data-bind="template: {name: templateName, foreach: popular}"></div>
</div>
<div class="column" id="last"><h1 class="title">Most Hits</h1>
<div data-bind="template: {name: templateName, foreach: hits}"></div>
</div>
</div>

<a href="@{Application.all}">
<div id="home-all"></div></a>
<a data-bind="visible: unreadTotal() > 0" href="@{Subscriptions.generateUpdateQueue}">
<div id="home-updates"></div></a>

<script type="text/javascript">
function AppViewModel() {
	var self = this;
	self.newest = ko.observableArray();
	self.popular = ko.observableArray();
	self.hits = ko.observableArray();
	self.comics = ko.observableArray();
	self.buildLists = function() {
		$.each(self.comics(), function(index, value) {
			self.newest.push(value);
			self.popular.push(value);
			if (value.data.rankHits() > 0) self.hits.push(value);
		});
		self.newest.sort(sortNewest);
		self.newest(self.newest.splice(0, 10));
		self.popular.sort(sortPopular);
		self.popular(self.popular.splice(0, 10));
		self.hits.sort(sortHits);
		self.hits(self.hits.splice(0, 10));
		extraBindings();
	};
	
	self.loggedIn=ko.observable(%{print (user != null && !user.isGuest())}%);
	self.templateName = function(comic) { return (self.loggedIn() ? ((comic.sub.id() == -1) ? 'comic-template' : 'comic-template-subscribed') : 'comic-template-noauth'); };
	self.unreadTotal = ko.observable(0);
}

function sortPopular(left, right) {
	return left.data.rankPop() - right.data.rankPop();
}

function sortHits(left, right) {
	return right.data.rankHits() - left.data.rankHits();
}

function sortNewest(left, right) {
	return parseInt(right.data.created()) - parseInt(left.data.created());
}

var viewModel = new AppViewModel();

addComics(comicCache);
if (viewModel.loggedIn()){
	server_get('subscriptions', {}, function(subData) {
		addSubscriptions(subData);
	});
}

function addComics(comicData) {
	$.each(comicData,
		function(index, value) {
			var newComic = new Comic();
			ko.mapping.fromJS(value, newComic.data);
			viewModel.comics.push(newComic);
		});
	viewModel.buildLists();
}

function addSubscriptions(subData) {
	var count = 0, unread = 0;
	$.each(subData,
		function(index, value) {
			var comic = null;
			for (var tmp in viewModel.comics()) {
				if (viewModel.comics()[tmp].data.id() == index) {
					comic = viewModel.comics()[tmp];
					count++;
					break;
				}
			}
			ko.mapping.fromJS(value, comic.sub);
			unread += comic.unreadCount();
	});
	extraBindings();
	viewModel.unreadTotal(unread);
	if (count == 0)
		$("#add-subscriptions-dialog").fadeIn();
}

ko.applyBindings(viewModel);
extraBindings();

(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>