#{extends 'main.html' /}
#{knockout /}
#{script 'jquery-ui-1.8.17.min.js' /}
#{script 'templateFunctions.js' /}
#{script 'cache/comics.js' /}
#{script 'cache/rankings.js' /}
#{include 'public/html/templates.html' /}
#{set title:'Comic Hill' /}

<img src='/img/title.png' />

<div id="add-subscriptions-dialog">
<h3>It looks like you haven't added any subscriptions!</h3>
To start using Comic Hill, add some comics to your home page.<br/>
Click <a href="@{Application.all}">here</a> to find your favorite comics and discover new ones!
</div>

<div class="comic-hill">
<div class="column" id="first" ><h1 class="title">New</h1>
<div data-bind="template: {name: templateName, foreach: newest}"></div>
</div>
<div class="column" id="middle"><h1 class="title">Most Subscribed</h1>
<div data-bind="template: {name: templateName, foreach: popular}"></div>
</div>
<div class="column" id="last"><h1 class="title">Most Hits</h1>
<div data-bind="template: {name: templateName, foreach: hits}"></div>
</div>
</div>

<a href="@{Application.all}">
<div id="home-all"></div></a>
<a data-bind="visible: unreadTotal() > 0" href="@{Subscriptions.generateUpdateQueue}">
<div id="home-updates"></div></a>

<script type="text/javascript">
function AppViewModel() {
	var self = this;
	self.newest = ko.observableArray();
	self.popular = ko.observableArray();
	self.hits = ko.observableArray();
	self.comics = {};
	self.buildLists = function() {
		$.each(sys_rankings["sub"], function(index, value) { self.popular.push(self.comics[value]); });
		$.each(sys_rankings["hits"], function(index, value) { self.hits.push(self.comics[value]); });
		$.each(sys_rankings["new"], function(index, value) { self.newest.push(self.comics[value]); });
		extraBindings();
	};
	
	self.loggedIn=ko.observable(%{print (user != null && !user.isGuest())}%);
	self.templateName = function(comic) { return (self.loggedIn() ? ((comic.sub.id() == -1) ? 'comic-template' : 'comic-template-subscribed') : 'comic-template-noauth'); };
	self.unreadTotal = ko.observable(0);
}

var viewModel = new AppViewModel();

addComics(sys_comics);
if (viewModel.loggedIn()){
	loadSubscriptions(true, function(subData) {
		addSubscriptions(subData);
	});
}

function addComics(comicData) {
	$.each(comicData,
		function(index, value) {
			var newComic = new Comic();
			ko.mapping.fromJS(value, newComic.data);
			viewModel.comics[newComic.data.id()] = newComic;
		});
	viewModel.buildLists();
}

function addSubscriptions(subData) {
	var count = 0, unread = 0;
	$.each(subData,
		function(index, value) {
			comic = viewModel.comics[index];
			count++;
			ko.mapping.fromJS(value, comic.sub);
			unread += comic.unreadCount();
	});
	extraBindings();
	viewModel.unreadTotal(unread);
	if (count == 0)
		$("#add-subscriptions-dialog").fadeIn();
}

ko.applyBindings(viewModel);
extraBindings();
</script>