#{extends 'main-text.html' /}
#{set title:'Privacy Policy' /}
<h1>Privacy Policy</h1>
<p>My aim is to provide this service with as little risk as possible for users, authors and myself.
By using Comic Hill, the following information is collected and may be linked to your user profile:</p>
<ul>
<li>Your email address (required for identification)</li>
<li>The comics you are now, or have ever, subscribed to</li>
<li>A subset of the individual strips you have read or are currently reading</li>
<li>Possible other usage statistics</li>
</ul>

<p>Your email address and other data are for use by Comic Hill only. This information will never be distributed
and will not be abused. You may receive emails occasionally, but I will not send spam, and you don't have to read them.</p>
<p>All passwords that are stored on Comic Hill's servers are encrypted sufficiently and are never stored in plain text.</p>

<p>To reiterate, I will NEVER collect any more personal information that could be used to identify you.
That said, any contribution that a user should make (adding a comment, etc) is done at their own discretion.
Content seen as inappropriate will be removed either with or without notice.</p>

<p>Maybe also check out the <a href="@{Application.terms}">Terms of Service</a> if you are interested.

<p>Of course, if you have any questions or concerns at all, please <a href="@{Application.contact}">contact me</a>.</p>
<br/>
<a href="@{Application.index}">Back to the main page</a>