#{extends 'main-text.html' /}
#{set title:'Terms of Use' /}
<h1>Terms of Use</h1>
<p>By using Comic Hill or any subsection thereof, you agree to the following terms.</p>
<ol>
<li>Content that is provided through Comic Hill is controlled by the respective author. Any content seen
as inappropriate may be flagged for review by myself, but I am NOT responsible for any content that is seen as offensive
or otherwise inappropriate.</li>
<li>As the owner and maintainer of Comic Hill, I reserve the right to change the Terms of Use and
<a href="@{Application.privacy}">Privacy Policy</a> at my discretion and without notification.</li>
<li>This document should be taken lightly, any legal issue that arises will be handled with complete
cooperation to best meet the needs of all affected parties.</li>
<li>Why are you reading this when there are so many webcomics waiting for you?</li>
</ol>

<p>Of course, if you have any questions or concerns at all, please <a href="@{Application.contact}">contact me</a>.</p>
<br/>
<a href="@{Application.index}">Back to the main page</a>