<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# comichill: http://ogp.me/ns/fb/comichill#">
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta property="fb:app_id"      content="302614783125242" /> 
        <meta http-equiv="content-language" content="en">
        #{get 'moreMeta' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{css "main", loadAll: true/}
		#{js loadAll: true/}
    </head>
    <body>
        #{include 'topnav.html' /}
        <noscript>Please enable javascript!</noscript>
        %{if (flash.message) print "<script type='text/javascript'>myAlert(\""+flash.message+"\");</script>"}%
        #{doLayout /}
    </body>
</html>