
<div id="topnav">
<div id="logo"><a href="/" >Comic Hill</a></div>
%{ if (user == null) { }%
<div class="item"><a href="@{Application.contact}">contact</a></div>
<div class="item"><a href="http://blog.comichill.com/">news</a></div>
<div class="item"><a href="@{Application.about}">about</a></div>
<div class="item"><a href="@{Users.register}">register</a></div>
<div class="item"><a href="@{Users.login}">login</a></div>
%{ } else if (user.isAdmin()) { }%
<div class="item"><a href="@{Application.contact}">contact</a></div>
<div class="item"><a href="http://blog.comichill.com/">news</a></div>
<div class="item"><a href="@{Application.about}">about</a></div>
<div class="item"><a href="@{Users.logout}">logout</a></div>
<div class="item"><a href="@{Users.accountInfo}">${user.email}</a></div>
<div class="item"><a href="@{Admin.adminPanel}">Admin</a></div>
%{ } else { }%
<div class="item"><a href="@{Application.contact}">contact</a></div>
<div class="item"><a href="http://blog.comichill.com/">news</a></div>
<div class="item"><a href="@{Application.about}">about</a></div>
<div class="item"><a href="@{Users.logout}">logout</a></div>
<div class="item"><a href="@{Users.accountInfo}">${user.email}</a></div>
%{ } }%
</div>